@import url('./input.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Montserrat", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: rgb(244, 246, 247);
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
  }
}
.listhero {
  display: none;
}
.sidebar li:hover .listhero {
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
}

@media only screen and (max-width: 768px) {
  .rightHome {
    display: none;
  }
  .leftHome {
    width: 100vw;
  }
}

.taskMenu {
  display: none;
}
.task:hover .taskMenu {
  display: block;
}

@keyframes taskMenu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.app-container {
  display: flex;
}

.app-sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-items: stretch;
  z-index: 55;
}


.app-sidebar .app-sidebar-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 4px; border: 1px solid white;
  justify-self: flex-start;
  cursor: e-resize;
  resize: horizontal;
}

.app-sidebar .app-sidebar-resizer:hover {
  background: #696969;
}
